.pokemon-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    z-index: 2;
}
.icon-arrow-left{
    color: #FFFFFF;
    font-size: 32px;
}

.name-contain p{
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.number-contain p{
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.return-page{
    cursor: pointer;
}