.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(122, 122, 122, 0.247);
    background-image: url("images/Frame_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


@media (min-width: 720px) {
    .container{
        background-image: url("https://i.ibb.co/kJxn08t/Fondos-de-pantalla-de-Pokemon-para-Pc.jpg");
        background-size: auto;
    }
}