.pokemon-detail-container{
    width: 100%;
    min-height: 100vh;
    background: #B8B8B8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* padding-bottom: 20px; */
}
.description-container{
    width: 90%;
    background-color: #ffffff;
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    max-width: 600px;
}

.description-container h4{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #B8B8B8;
}

.description-pokemon{
    width: 90%;
    padding-top: 10px;
}

.description-pokemon p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    color: #1D1D1D;
}
.pokeball-background{
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 1;
    opacity: 0.3;
}

.button-contain{
    margin-bottom: 20px;
}
.button-contain button{
    padding: 10px 15px;
    background-color: rgb(233, 2, 48);
    color: white;
    font-size: 1.1rem;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 1px 3px 1px #7c0000;
}

.button-contain button:active{
    background-color: #fd4545;
}