*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    padding: 10px 30px;
    border: none;
    background-color: none;
}

.btn-success{
    background-color: rgb(23, 143, 7);
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.btn-danger{
    background-color: rgb(231, 61, 61);
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
